.recipe{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    padding: 20px;
    /* width: 25rem; */
} */
  
  .recipe h2 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    text-align: left;
  }
  
  .recipe__image {
    /* max-width: 100%;
    height: auto;
    margin: 10px 0; */
    width: 80%;
  /* height: 100%; */
  align-content: center;
  object-fit: cover;
  margin: 10px 0;
  }
  
  .recipe h4 {
    /* font-size: 1.5rem; */
    margin: 10px 0;
  }
  
  .recipe li {
    /* font-size: 1.2rem; */
    margin-bottom: 5px;
    list-style-type: disc;
    list-style-position: inside;
  }
  
  .recipe__image,
  .recipe__url {
    /* font-size: 1.2rem; */
    margin: 10px 0;
  }
  
  .recipe__url a {
    color: #227014;
    text-decoration: none;
  }
  .recipe__url:hover a{
    color: #143e0c;
    text-decoration: none;
  }
  button {
    /* font-size: 1.2rem; */
    background-color: #519058;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1f7524;
  }