.saved-recipes{
    display: flex;
    flex-direction: column;
align-content: center;
justify-content: center;
}
.saved-recipes__button{
    margin: 10px;
    padding: 10px;
    display:inline-block;
    font-size: 16px;
background-color: #676aca;
    border:0.1em solid #FFFFFF;
    border-radius:7px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#ffffff;
    text-align:center;
    transition: all 0.2s;
    align-content: center;
  }
  .saved-recipes__button:hover{
    color:#000000;
    background-color:#905ec9;
    cursor: pointer;
    }

.saved-recipes__display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    align-content: center;

}

.saved-recipes__heading{
    font-size: 25px;
}

