* {
    margin: 0;
    padding: 0;
    /* box-sizing: ; */
}
.App {
    margin: 50px;
   display: flex;
   justify-content: center;
   align-items: center;   
   flex-direction: column;
   /* background-color: rgba(189, 234, 189, 0.547); */
}